.footer-basic {
  padding:40px 0;
  background-color: #9BABBA;
  color: #163645;
}

.footer-basic ul {
  padding:0;
  display: flex;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .socials {
  text-align:center;
  padding-bottom:25px;
}


